.footer-main {
    padding: 15px 10vw;
    min-height: 125px;
    background: #38598a;
    color: white;
    width: 110%;
    .button-yellow {
        background-color: rgb(252, 186, 25);
        color: #02203f;
        font-weight: bold;
    }
}
