.LocationsPanel {
    padding: 1rem;
    margin: 0 0  1rem 0;
    border: 2px solid #606060;
    border-top: none;
}

.location-coords {
    flex-direction: row;
}

@media (max-width: 845px) {
    .location-coords {
        flex-direction: column;
    }
}

@media print {
    .LocationsPanel .row {
        width: 95%;
    }
}