.row-relative {
  position: relative;
}

.map-hidden {
  height: 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 25px;
  padding-top: 10px;
  margin-bottom: 0px;
}

.map-visible {
  height: 50px;
}

.btnLink {
  color: #ffffff;
  background: none;
  border: none;
  text-decoration: underline;
  display: flex;
  align-items: center;
  padding: 0px;
}

.mapIcon {
  color: #ffffff;
  height: 30px;
  width: 30px;
  margin-right: 8px;
  opacity: 0.7;
}

