.cit-box {
    padding: 1em 1em 0px 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.explore-button {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.explore-box {
    border-radius: 10px 10px 0px 10px;
    padding-right: 15px;
}

.main-text {
    font-size: 40px;
}

.box {
    border: 0px;
    border-radius: 10px;
    box-shadow: none;
    background-color: #e8f4f9;
}
