.modal-text-input {
    width: 45%
}

.modal-content {
    .input-range__track--active {
        background:#707070;
        border-color: #707070;
    }
    
    .input-range__slider {
        background: #003366; 
        border-color: #003366;
    }

    & .text-wrapper {
        position: relative;
    }
        
    & .text-wrapper textarea {
        padding: .25rem 3rem;
    }
        
    & .upper-left-label {
        position: absolute;
        top: 3px;
        left: 3px;
    }
        
    & .lower-right-label {
        position: absolute;
        bottom: calc(3px + 1rem);
        right: 3px;
    }
}