.ReviewAndSubmitCallout {
    padding: 1rem;
    margin-top: 1rem;
    border: 2px solid #1d9f05;
    background: #eaf2ec;
}

.ReviewAndSubmitCallout label span {
    opacity: 0.75;
}

.ReviewAndSubmitCallout input {
    border: 2px solid #606060;
    border-radius: 4px;
}