.ReviewAndSubmitCallout {
    padding: 1rem;
    margin-top: 1rem;
    border: 2px solid #1d9f05;
    background: #eaf2ec;
}
.ReviewAndSubmitCallout hr {
    height: 2px;
    background: #00000044;
    border: none;
}