.report-overview-container {
    display: flex;
    flex-direction: column;
    height: 1780px;
    width: 100% !important;
    min-width: 960px;
    max-width: 1340px;
    margin:0 auto;
}

.report-overview-container iframe {
    border:none;
    padding: 0 !important;
    margin: 0 !important;
}

.report-buttons button {
    width: 180px;
    height: 44px;
    font-weight: bold !important;
    font-size: 16px;
    padding-right: 4px;
    padding-left: 4px;
    border-radius: .25rem !important;
}

.tabs-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 99%;
    min-width: 960px;
    max-width: 1340px;
    margin: 0px !important;
    padding: 0px !important;
   
}

.tabs-container button {
	border: 0;
	font-size: medium;
	margin: 0px 2px 0px 0px;
  padding: 0px 1px 0px 0px;
  height: 40px;
  font-weight: bold;
  border-radius: 0 !important;
}

.report-tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .report-tabs button {
    border: 1px solid transparent;
    border-top-left-radius: .25rem !important;
    border-top-right-radius: .25rem !important;
  }
  
  /* Change background color of buttons on hover */
  .report-tabs button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .report-tabs button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .btn-primary {
    background-color: #1a5a96 !important;
  }