subscription_id   = "<secret>"
tenant_id         = "<secret>"

github_token      = "<secret>"     # Github PAT with repo write access
github_repository = "CIT"     # Github project repository name
github_owner      = "bcgov"     # Github project repository owner (group)
