.OpportunityApproveCallout {
    padding: 1rem;
    margin-top: 1rem;
    border: 2px solid #1d9f05;
    background: #eaf2ec;
    font-weight: 500;
}

.modal-text-indent {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
}

.more-pad {
    padding: 10px 20px;
}

@media (min-width: 845px) {
    .OpportunityApproveCallout p b {  
        position: absolute;
        right: 1rem;
    }
}

@media print {
    .OpportunityApproveCallout {
        display: none;
    }
}