.opportunity-table {
    padding-bottom: 2vh;
    padding-top: 2vh;
}

.opportunity-table-row {
    height: 100%;
    /* border: 2px solid #606060; */
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: #e9e6e6;
}

.opportunity-table-row .btn-link,
.bcgov-delete-listing-link {
  margin-left: 15px;
}

.opportunity-table-row p.border--pill {
    background: #c8e7f1;
    border-width: 0;
}

.opportunity-table-row.w-100 .flex-grow-1 {
    position: relative;
    margin-left: -30px;
}

.opportunity-table-map-container {
    min-height: 250px;
    height: calc(100%);
}

.search-page-layout .bcgov-opp-actions {
  position: absolute;
  width: calc(100%);
  right: 0;
  bottom: 0;
  text-align: right;
  padding-right: 20px;
  border-top: 1px #d2d2d2 solid;
}

.search-page-layout .button.bcgov-view-properties {
  position: absolute;
  right: 0;
  bottom: 5px;
}

.search-page-layout div.h-100 {
  min-height: 92px !important;
}

.bcgov-view-listing-link,
.bcgov-view-listing-link:visited,
.bcgov-edit-listing-link,
.bcgov-edit-listing-link:visited,
.bcgov-closed-listing-link,
.bcgov-closed-listing-link:visited
{
  color: #313132 !important;
}

.bcgov-opp-actions button:hover,
.bcgov-opp-actions button:active
{
  color: #003366 !important;
  border: none !important;
  border-width: 0 !important;
  background-color: transparent !important;
}

.status-text-green {
    color:green;
}

.status-text-orange {
    color:orange;
}

.status-text-red {
    color:red;
}