.opportunity-table {
    border: 1px solid lightgray;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

.opportunity-table-row {
    border: 1px solid gray;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.opportunity-table-map-container {
    height: 120px;
}

.status-text-green {
    color:green;
}

.status-text-orange {
    color:orange;
}

.status-text-red {
    color:red;
}