.App-header.navbar {
  padding: 0 65px;
  min-height: 70px;
  color: #ffffff;

  .title {
    display: none;
  }

  .other {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0;
    :hover {
      color: red;
      cursor: pointer;
    }
  }
}

.beta-tag {
  font-size: 20px;
  font-weight: 600;
  color: #fcba19;
  position: absolute;
  margin-left: 8px;
}

.main-header-text {
  text-decoration: none;
}

.main-header-text:hover {
  text-decoration: none;
}

.dropdown-style {
  font-size: 14px;
  .dropdown-menu {
    width: 300px;
    height: 150px;
  }
  .nav-link {
    color: #fff;
    padding: 1px;
  }
  .dropdown-item {
    background-color: transparent;
    border-top: 2px solid transparent;
  }
}

.nav-link.nav-link:focus{
  color: #fff;
}

.avatar {
  height: 30px;
  cursor: pointer;
  width: 30px;
}

.navigation-container {
  padding: 10px 65px;
  background: #38598a;
}

// show long App Name when space allows
@media (min-width: 400px) {
  .App-header.navbar {
    .title {
      display: block;
      font-size: calc(12px + (26 - 12) * ((100vw - 300px) / (1600 - 300)));
      text-align: center;
    }
  }
}
@media (min-width: 992px) {
  .App-header.navbar {
    .title {
      display: block;
      text-align: left;
      padding-left: 40px;
      font-size: 2rem;
    }
  }
}
