azure_subscription_id = "<secret>"
azure_tenant_id       = "<secret>"
azure_resource_group  = "<secret>"
geocoder_key          = "<secret>"
router_key            = "<secret>"
pbi_secret            = "<secret>"
email_client_secret   = "<secret>"