.report-style {
    width: 100%;
    height: 100vh;
	margin: 1% auto;
}

.report-iframe  iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.report-compare {
    width: 1280px;
    height: 2900px;
}

.report-criteria-search {
    width: 1280px;
    height: 850px;
}

.report-with-tabs {
    width: 1280px;
    height: 800px;
}

.report-buttons {
	text-align: center;
}

.report-buttons button {
	background: #FCBA19;
	color: #000000;
	width: 180px;
    height: 44px;
    font-weight: bold !important;
    font-size: 16px;
    padding-right: 15px;
    padding-left: 15px;
}

.hide-section {
    display: none;
    height: 0;
}
.report-census {
    width: 1280px;
    height: 190px;
}

.report-connectivity {
    width: 20000px;
    height: 1100px;
}

.report-economic {
    width: 1280px;
    height: 1550px;
}

.report-social {
    width: 1280px;
    height: 1600px;
}

.report-assets {
    width: 1280px;
    height: 1770px;
}

.report-bca-assessment {
    width: 1280px;
    height: 1550px;
}


.embed-container {
    position: relative;
}

.cit-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px 65px;
    background: #38598a;
}

.copy-btn {
    background-color: #fcba19;
    color: black;
}