.bcgov-display-box {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .bcgov-display-box {
        padding-right: 1rem calc((100% - 540px)/2);
    }
}

@media (min-width: 768px) {
    .bcgov-display-box {
        padding: 1rem calc((100% - 720px)/2);
    }
}

@media (min-width: 992px) {
    .bcgov-display-box {
        padding: 1rem calc((100% - 960px)/2);
    }
}

@media (min-width: 1200px) {
    .bcgov-display-box {
        padding: 1rem calc((100% - 1140px)/2);
    }
}
