.dashboard-container {
    width: 80%;
    margin-left: 10%;
    padding: 5vh 0 5vh;
}

@media(max-width: 767px) {
    .dashboard-container {
        padding: 3rem 1.5rem;
    }
    .dashboard-container .container-fluid {
        padding: 0;
    }
}

.dashboard-header {
    text-align: left;
    float: left;
}

.edo-dashboard .opportunity-table {
    float: left !important;
}

.spinner-border {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dashboard-header h2 {
    width: 100%;
    margin-bottom: 15px;
}

.add-opportunity-button {
    float: right;
    text-align: right;
}

ul.dashed {
    list-style-type: none;
}

ul.dashed > li {
    text-indent: -9px;
}

ul.dashed > li:before {
    content: "- ";
}

.center-page-spinner-opportunities {
    position: fixed;
    top: 50%;
    left: 50%;
}

.center-spinner-opportunities {
    height: 10vh;
    display: block;
    float: left;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.edo-dashboard .dashboard-howitworks {
    margin-left: 10%;
    min-width: 200px;
    max-width: 350px;
}

.edo-dashboard .dashboard-howitworks p {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0px 40px 0 0;
    padding: 0px  2px;
    border-radius: 2px;
    float: left;
    margin-bottom: 30px;
}

.edo-dashboard .dashboard-instructions {
    display: block;
    position: relative;
    min-width: 500px;
    max-width: 60%;
    float: left;
}

.edo-dashboard .dashboard-instructions .dashboard-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.edo-dashboard .dashboard-instructions .dashboard-row img {
    width: 50%;
    height: 50%;
}

.edo-dashboard .bcgov-opp-status {
    display: block;
    float: right;
    -webkit-user-select: none;
    user-select: none;
    margin-top: 15px;
    margin-right: 15px;
}

.edo-dashboard .bcgov-delete-listing-link {
    font-size: 12pt;
    position: relative;
    top: 2px;
}

.edo-dashboard .bcgov-opp-actions {
    bottom: 0;
    display: block;
    float: right;
}

.edo-dashboard .opportunity-table-row {
    margin-bottom: 30px;
}

.bcgov-ciot-opportunities {
    float: left;
    width: 100%;
}

@media (max-width: 767px) {
  .edo-dashboard .opportunity-table .row {
    margin-left: 0;
    min-height: 400px;
  }

  .edo-dashboard .col-lg-3,
  .edo-dashboard .col-md-3 {
    padding-left: 0 !important;
  }
}