.dashboard-container {
    padding: 5vh 10vh 5vh;
}

@media(max-width: 767px) {
    .dashboard-container {
        padding: 3rem 1.5rem;
    }
    .dashboard-container .container-fluid {
        padding: 0;
    }
}

.dashboard-header {
    text-align: left;
}

.add-opportunity-button {
    text-align: right;
}

ul.dashed {
    list-style-type: none;
}

ul.dashed > li {
    text-indent: -9px;
}

ul.dashed > li:before {
    content: "- ";
}

.center-spinner-opportunities {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
