.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container header,
.app-container .footer {
  flex: 0;
}

main {
  padding: 0;
  flex: 1;
}

button.a-tag.a-tag {
  cursor: pointer;
  color: #1a5a96;
  text-decoration: underline;
  background: transparent;
  border: none;
}

button.a-tag.a-tag:hover {
  color: #0631f3 !important;
}

button.a-tag.a-tag:active {
  color: #0631f3 !important;
  background-color: transparent !important;
  border-color: none !important;
}

.BC-Gov-SecondaryButton {
  background: none;
  border-radius: 4px;
  border: 2px solid #003366;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-weight: 700;
  cursor: pointer;
  color: #003366;
}

.BC-Gov-SecondaryButton:hover {
  opacity: 0.80;
  text-decoration: underline;
  background-color: #003366;
  color: #FFFFFF;
}

.filter-button.filter-button {
  border-radius: 30px;
  font-weight: 400;
  border-width: 2px;
}

.BC-Gov-SecondaryButton:active {
  opacity: 1;
}

div.bcgov-error-background {
  border: 1px solid #d8292f;
}

div.bcgov-success-background {
  border: 1px solid #2e8540;
}

div.bcgov-warning-background {
  border: 1px solid rgb(252, 186, 25);
}

.center-spinner {
  position: relative;
  height: 100vh;
}

.center-spinner .spinner-border {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #244278;
}

.invest-container {
  height: 80vh;
}

