.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container header,
.app-container .footer {
  flex: 0;
}

main {
  padding: 0;
  flex: 1;
}

.center-spinner {
  position: relative;
}

.center-spinner .spinner-border {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #244278;
}

.invest-container {
  height: 80vh;
}

