.input-range {
    margin-bottom: 20px;
}

.input-range-text-input {
    width: 45%
}

.input-range__track--active {
    background:#707070;
    border-color: #707070;
}

.input-range__slider {
    background: #003366; 
    border-color: #003366;
}
    
.upper-left-label {
    position: absolute;
    top: 3px;
    left: 3px;
}
    
.lower-right-label {
    position: absolute;
    bottom: calc(3px + 1rem);
    right: 3px;
}