.your-story {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    font-family: BCSans;
    font-size:1em; 
    min-width: 0;
    width: 100%;
}

.your-story-image {
    min-height: 100vh !important;
    width: 50vw;
    margin-right: 0;
}

.smaller-page {
    -webkit-transform:scale(0.67);
    -moz-transform:scale(0.67);
    -ms-transform:scale(0.67);
    transform:scale(0.67);
    -ms-transform-origin:0 0;
    -webkit-transform-origin:0 0;
    -moz-transform-origin:0 0;
    transform-origin:0 0;
}

h3 {
    flex-basis: 100%;
    font-size:1em; 
    line-height: 1.4;
    font-weight: bold;
    margin-top: 8px;
}

p {
    margin-top: 8px;
    margin-bottom: 2px;
    line-height: 1.4;
}

.break {
    flex-basis: 100%;
    height: 0;
    margin: 0;
  }

.line-break {
    flex-basis: 100%;
    margin-top: 2px;
}

.select-break {
    flex-basis: 100%;
    margin-top: 12px;
}

.section-break {
    flex-basis: 100%;
    margin-top: 18px;
}


  
.user-story-label {
    margin-top: 6px;
    margin-right: 6px;
}

.searchFilter {
    color: #376fa3 !important;
    font-weight: bold;
    font-size: 1.2rem;
}

button {
	border: 0;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: medium;
	margin-right: 15px;
    height: 40px;
    font-weight: bold;
}

.user-story-button {
    height: 40px;
    font-weight: bold !important;
    font-size: 16px;
    padding-right: 15px;
    padding-left: 15px;
}