.user-table-row {
    border: 2px solid #606060;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.modal .col {
    margin: auto;
}

.status-text-green {
    color: green;
}

.status-text-orange {
    color:orange;
}

.status-text-red {
    color:red;
}

.status-background-lilac {
    background-color:#c8ccfa;
}

.status-background-green {
    background-color:#95cb5c;
}

.status-background-orange {
    background-color:#fcba19;
}

.status-background-red {
    background-color:red;
}

.status-background-lilac,
.status-background-green, 
.status-background-orange, 
.status-background-red {
    display: inline-block;
    font-weight: 400;
    color: #494949;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.6;
    border-radius: .25rem;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}


.modal-save-button {
    padding: 10px 20px;
}