.user-table-row {
    border: 2px solid #606060;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.modal .col {
    margin: auto;
}

.status-text-green {
    color:green;
}

.status-text-orange {
    color:orange;
}

.status-text-red {
    color:red;
}

.modal-save-button {
    padding: 10px 20px;
}