  :root {
    --landscape-width: 25; 
    --portrait-width: 80vw;
    --secs: 0.4s;
  }
  
  #search-page-layout {
    display: flex; 

    .content {
      overflow: auto;
      overflow-x: hidden;
      margin: 0.75rem;
      padding-top: 20px;
    }
  }
  
  #sidebar-button-area { 
    flex: 0 1 20%;
    &.open {
      flex: 0 1 0%;
    }
    .icon { 
      margin-left: 0;
      z-index: 5;
      user-select: none; 
      padding-top: 2vh;
      transition: visibility 5s, display 5s;
      @media (orientation: landscape) {
        &.open {
          display: none;
        }
      }
      @media (orientation: portrait) {
        &.open {
          visibility: hidden;
        }
      }


      .bcgov-normal-white {
        background-color: #F2F1F1;
        color:#606060;
        font-weight: bold;
        text-decoration: underline;
      }
    }

    .col {
      padding-left: 0;
    }
  }
  
  #left { 
    transition: width var(--secs); 
    width: 0;
    z-index: 1001;
    @media (orientation: landscape) {
      &.open { 
        width: 400px; 
      }
    } 
    .sidebar { 
      transition: transform var(--secs);
      background-color: #F2F1F1;
      height: 100%;
      @media (orientation: portrait) { 
        width: var(--portrait-width); 
      }
      @media (orientation: landscape) { 
        width: 400px; 
      }
      .header { 
        padding-right: 1vh; 
      }
      outline: 2px solid #606060;
      &.closed { 
        transform: translateX(-100%); 
      }
    }

    .close-panel-button {
      background: none;
      color: #727272;
      border: none;
      padding: 0;
      text-decoration: underline;
    }
  }

  .children {
    flex: 0 1 80%;
    &.open {
      flex: 0 1 100%;
    }
  }
