affine==2.3.0
alembic==1.5.7
attrs==20.3.0
bcdata==0.4.3
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.7.1
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.4.6
Django==2.2.16
django-cors-headers==3.5.0
djangorestframework==3.12.1
djangorestframework-csv==2.1.0
djangorestframework-gis==0.16
drf-yasg==1.20.0
ecdsa==0.14.1
Fiona==1.8.18
GeoAlchemy2==0.8.4
geopandas==0.9.0
greenlet==1.0.0
gunicorn==20.0.4
idna==2.10
importlib-metadata==3.7.3
inflection==0.5.1
itypes==1.2.0
Jinja2==2.11.3
jsonschema==3.2.0
Mako==1.1.4
MarkupSafe==1.1.1
msal==1.5.1
munch==2.5.0
numpy==1.19.5
OWSLib==0.23.0
packaging==20.9
pandas==1.1.5
pgdata==0.0.12
Pillow==8.0.1
psycopg2==2.8.6
psycopg2-binary==2.8.6
pyasn1==0.4.8
pycparser==2.20
PyJWT==1.7.1
pyparsing==2.4.7
pyproj==3.0.1
pyrsistent==0.17.3
python-dateutil==2.8.1
python-editor==1.0.4
python-jose==3.2.0
python-keycloak==0.24.0
pytz==2021.1
PyYAML==5.3.1
rasterio==1.2.1
requests==2.24.0
rsa==4.7.2
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.2
Shapely==1.7.1
six==1.15.0
snuggs==1.4.7
SQLAlchemy==1.4.1
SQLAlchemy-Utils==0.36.8
sqlparse==0.4.1
typing-extensions==3.7.4.3
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.25.11
whitenoise==5.2.0
zipp==3.4.1
