.step {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #036;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}

.past {
    background-color: #35aee3;
}

.current {
    height: 65px;
    width: 65px;
    font-size: x-large;
}

.gov-blue {
    color: #036;
}

@media only screen and (max-width: 495px ) {
    .ellipsis {
        margin: 0px;
        padding: 0px !important;
    }

    .step {
        height: 30px;
        width: 30px;
    }

    .current {
        height: 40px;
        width: 40px;
    }

    .check {
        font-size: 16px;
    }

    .nav-label {
        font-size: 12px;
    }
}

/* 405 */