#rental-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: right;
}
#rental-input::-moz-placeholder { /* Firefox 19+ */
  text-align: right;
}
#rental-input:-ms-input-placeholder { /* IE 10+ */
    text-align: right;
}
#rental-input:-moz-placeholder { /* Firefox 18- */
  text-align: right;
}

.price-input {
    outline: transparent;
    border: none;
    
}

.price-div {
    min-height: 38px;
    border-radius: 4px;
    border: 1px solid hsl(0, 0%, 80%);
}

.price-div:focus-within {
    outline: transparent;
    border: 1px auto #358cfe;
    box-shadow: 0 0 0 1pt #358cfe;
    -webkit-box-shadow: 0 0 0 1pt #358cfe;
}

