.report-compare-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 67vh !important;
    width: 100% !important;;
    min-width: 960px;
    max-width: 1340px;
    margin:0 auto;
}

.report-compare-container iframe {
    border: none;
    padding: 4px 2px !important;
    margin: 2px 2px !important;
}



